<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMS | Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="max-w-[280px] mx-auto">
        <div class="flex flex-col items-center mt-[30vh]">
            <h2 class="mb-5 text-gray-900 font-serif font-bold text-xl">WELCOME</h2>
            <form method="POST">
                {% csrf_token %}
                <input type="text" class="w-full px-6 py-3 mb-2 border border-slate-600 rounded-lg font-medium " placeholder="Username" name="Username"/>
                <input type="password" class="w-full px-6 py-3 mb-2 border border-slate-600 rounded-lg font-medium " placeholder="Password" name="Password"/>
                <button type="submit" class="bg-slate-500 hover:bg-slate-700 text-white text-base rounded-lg py-1 px-5 transition-colors w-full text-[15px]">
                    <div align="center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15M12 9l3 3m0 0-3 3m3-3H2.25" />
                        </svg>
                    </div>
                    LogIn
                </button>
            </form>
            {% for message in messages %}
                <p class="text-center mt-3 text-[14px]">{{message}}</p>
            {% endfor %}
            <p class="text-center mt-3 text-[14px]">Don't have an account? <a href="{% url 'registerPage' %}" class="text-blue-600">Create Now!</a><br>
                Forgot Your Password? <a href="{% url 'reset_password' %}" class="text-blue-600">Reset Password</a>
            </p>

        </div>
    </div>
</body>
</html>