<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMS | re-Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="max-w-[280px] mx-auto">
        <div class="flex flex-col items-center mt-[30vh]">
            <h2 class="mb-5 text-gray-900 font-serif font-bold text-xl">PASSWORD RESET</h2>
            <form method="POST">
                {% csrf_token %}
                <input class="w-full px-6 py-3 mb-2 border border-slate-600 rounded-lg font-medium " placeholder="Email" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
                <br>
                <button type="submit" class="bg-slate-500 hover:bg-slate-700 text-white text-base rounded-lg py-1 px-5 transition-colors w-full text-[15px]">
                    <div align="center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                        </svg>
                    </div>
                    Send Email
                </button>
            </form>
            <p class="text-center mt-3 text-[14px]">Forgotten your password? Enter your email address, and we’ll email instructions for setting a new one.</p>
        </div>
    </div>
</body>
</html>