<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMS | re-Password</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="max-w-[280px] mx-auto">
        <div class="flex flex-col items-center mt-[30vh] w-full px-6 py-3 mb-2 border border-slate-600 rounded-lg">
            <h2 class="mb-5 text-gray-900 font-serif font-bold text-xl " align="center">PASSWORD RESET COMPLETE</h2>
            <p class="text-center mt-3 text-[14px]">
                Your password has been set. You may go ahead and log in now.
              <a href="{% url 'loginPage' %}" class="text-blue-600">LogIn</a>
            </p>
        </div>
    </div>
</body>
</html>